name: BDD Integration Tests


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  drive_android:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Run Cucumber/Gherkin Tests

        run: |
          flutter drive --target=test_driver/app.dart -d macos